
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation=" http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-3.0.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">

	<mvc:annotation-driven />
	<context:component-scan base-package="com.loginext.casestudy.controller" />


	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver">
		<property name="defaultViews">
			<list>
				<bean
					class="org.springframework.web.servlet.view.json.MappingJackson2JsonView" />
			</list>
		</property>
	</bean>

	<mvc:resources mapping="/resources/**" location="/resources/theme1/" />


	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:database.properties</value>
			</list>
		</property>
	</bean>
	<bean id="dataSource" class="org.apache.tomcat.dbcp.dbcp2.BasicDataSource">

		<property name="driverClassName" value="${jdbc.driverClassName}" />
		<property name="url" value="${jdbc.url}" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}"/>


	</bean>

	<bean id="driverDataDao" class="com.loginext.casestudy.dao.DriverDataDaoImpl" />
	<bean id="customerDataService" class="com.loginext.casestudy.service.CustomerDataServiceImpl" />
	<bean id="customerDataDao" class="com.loginext.casestudy.dao.CustomerDataDaoImpl" />
	<bean id="currentBookingDao" class="com.loginext.casestudy.dao.CurrentBookingDaoImpl" />
	<bean id="rideBookingService" class="com.loginext.casestudy.service.RideBookingServiceImpl" />
	<bean id="currentBookingService"
		class="com.loginext.casestudy.service.CurrentBookingServiceImpl" />
</beans>

